/* General Reset */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.ql-size-huge {
  font-size: 1.7em;
  font-weight: bold;
}

.ql-size-large {
  font-size: 1.2em;
  font-weight: bold;
}



#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  flex-shrink: 0;
}

.content-body {
  flex: 1; 
}

.footer {
  flex-shrink: 0;
  width: 100%;
  color: rgba(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 10px 0;
}

.postComment {
  color: black;
  border: 2px solid #ccc;
  padding: 10px;
  font-size: 14px;
}

.userInfo{
  margin-bottom: 10px;
}
.userInfo .replyBtn {
  display: none !important;
}


.blog-post-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto; 
  border-radius: 5px; 
}



/* Below code is for something else */

.general-winter-container {
  text-align: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 2rem;
  margin-bottom: 20px;
}

.content {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.get-ready {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.dragoned-by {
  font-size: 1rem;
  font-style: italic;
}

.wpf--create-new {
  display: inline-block;
  width: 46px;
  height: 46px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26'%3E%3Cpath fill='%23000' d='M22.438-.063c-.375 0-.732.17-1.032.47l-.718.687l4.218 4.218l.688-.718c.6-.6.6-1.494 0-2.094L23.5.406c-.3-.3-.688-.469-1.063-.469zM20 1.688l-1.094.907l4.5 4.5l1-1zm-1.688 1.625l-9.03 8.938a1 1 0 0 0-.126.125l-.062.031a1 1 0 0 0-.219.438l-1.219 4.281a.975.975 0 0 0 1.219 1.219l4.281-1.219a.98.98 0 0 0 .656-.531l8.876-8.782L21 6v.094l-1.188-1.188h.094l-1.593-1.593zM.813 4A1 1 0 0 0 0 5v20a1 1 0 0 0 1 1h20a1 1 0 0 0 1-1V14a1 1 0 1 0-2 0v10H2V6h10a1 1 0 1 0 0-2H1a1 1 0 0 0-.094 0a1 1 0 0 0-.094 0zm9.813 9.813l1.375.093l.094 1.5l-1.375.406l-.531-.53z'/%3E%3C/svg%3E");
  background-color: #0D6EFD;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.mdi--delete {
  display: inline-block;
  width: 20px;
  height: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6z'/%3E%3C/svg%3E");
  background-color: red;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}